body{
  background:url(http://cdn.lowgif.com/full/6f74e7ca91b0f9b1-radial-star-animated-background-lingjun.gif);
  background-repeat:no-repeat;
  background-size:cover;
}

h1{
  font-family:courier,monospace;
  font-color:black;
  border: 20px ridge blue;
  border-radius: 5px;
}

h2{
  font-family:courier,monospace;
  font-color:black;
  border: 20px ridge blue;
  border-radius: 5px;
}

p{
  font-family:courier,monospace;
  font-color:black;
  border: 20px ridge blue;
  border-radius: 5px;
}

table{
 border:2px solid black;
 border-collapse:collapse;
}

th{
 border:1px solid black;
 background-color:lightgray;
}

td{
 border:1px solid black;
}

img{
   border: 20px ridge blue;
   border-radius: 5px;
   width:50%;
   length:50%;
}

#hobby{
  font-family:courier;
}

.Coding{
  border: 10px ridge blue;
  border-radius:5px;
}
